<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>conclave-server</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.rjzak.conclave.server</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Conclave Server</string>
	<key>CFBundleDisplayName</key>
	<string>Conclave Server</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleVersion</key>
	<string>0.0.1</string>
	<key>CFBundleIconFile</key>
	<string>server.icns</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026, Conclave Developers. Licensed under the Apache License 2.0.</string>

	<key>NSLocalNetworkUsageDescription</key>
	<string>Conclave Server advertises itself to clients on your local network.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_conclave._tcp</string>
	</array>
</dict>
</plist>
